body {
    color: #333;
    font-size: 1rem;  
    background-color: #3f54f7;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    touch-action: manipulation;
  -ms-touch-action: manipulation;
}

html {
    scroll-behavior: smooth;
    touch-action: manipulation;
  -ms-touch-action: manipulation;
}
